<!DOCTYPE html>
<html lang="en" ng-app="studentGhar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Student Ghar</title>
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/sweet-alert.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage" ng-controller='courseController as cc'>

<header id="top-header">
 
<nav class="navbar-inverse navbar-fixed-top" style="background-image: url(/images/slider/bg1.jpg);">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand ">
                        <a class="smooth-scroll" data-section="#home" href="#home" >
                            <h3 style="color:white;">STUDENT GHAR</h3>
                        </a>
                    </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
                <input type="text" class="form-control " placeholder="Search for Courses"  ng-model='search' style="background-color:white"/> 
                <span class="input-group-addon" ><a href="" ><i class="fa fa-search fa-2x" ng-click="serachCourses()"></a></i></span>
            </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-responsive img-rounded" alt="Santosh Sibyala" src="/images/testimonial/01.jpg" width="20" height="20" > <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="" class="ThisLink">Signed as <br/> Santosh Sibyala</a></li>
            <li role="separator" class="divider"></li>
            <li ><a href="" class="background-switch" ng-init="user='santosh'" ng-click="cc.userProfile(user)"><i class="fa fa-user"></i>&nbsp;&nbsp;Your Profile</a></li>
            <li><a href="" class="background-switch" ng-click="cc.myCourses()"><i class="fa fa-server"></i>&nbsp;&nbsp;Your Courses</a></li>
            <li><a href="" class="background-switch" ng-init="user='santosh'" ng-click="cc.settings(user)"><i class="fa fa-cog"></i>&nbsp;&nbsp;Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" class="background-switch" ng-click="cc.logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<font size="2em">
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 height">
            <a href='' ng-click="cc.myCourses()"<i class="fa fa-server"></i> &nbsp;All Courses</a><br/>
            <i class="fa fa-desktop"></i>&nbsp;Development<br/>
            <i class="fa fa-laptop"></i>&nbsp;It Software & Development<br/><br/>
            <a class="btn btn-primary" href="" ng-click="cc.addCourse()">Add Course</a>

        </div>
        <div class="col-md-9 jumbotron ">
            <div class="row" ng-show="allcourses">
                    <div class="col-md-2  border1 pad">
                        <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                    <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>

                    </div>
                    <div class="col-md-2 col-md-offset-1 border1 pad">
                    
                        <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                    </div>
                    <div class="col-md-2 col-md-offset-1 border1 pad">
                    
                        <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/>
                    </div>
                    <div class="col-md-2 col-md-offset-1  border1 pad">
                    
                        <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level
                    <br/>
                     <a class="btn btn-danger dan" href="" ng-click="">Remove Coure</a><br/>
                    </div>
                    
               </div> 
               <div class="row" ng-show="newcourse">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row whiteContainer">
                            <div class="col-md-8 col-md-offset-4">
                                <font size="4em">  <b>Add Course</b></font>
                            </div>
                        </div>
                    <div class="row whiteContainer">
                        <div class="col-md-10 col-md-offset-2">
                            Add information about course and instructor.
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-10 ">
                            <b>Course Details</b>
                        </div>
                    </div>
                        <input type="text" class="form-control" value="" id="" placeholder="Course title" /><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Course tag"/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Price in $"/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Total number of videos"/><br/>
                        <select class="form-control" placeholder="Type of Course">
                              <option value="">University Courses</option>
                              <option value="">University Projects</option>
                              <option value="">Technical Courses</option>
                              
                        </select><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Instructed by "/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Introduction video URL "/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Total time taken for entire course "/><br/>
                        <textarea class="form-control" value="" id="" placeholder="Courses Description" ></textarea><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Requirements for the Course "/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="What user going to get from course "/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Who are the targeted auidence "/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Course Image "/><br/>
                        <textarea class="form-control" value="" id="" placeholder="Course Curriculum" ></textarea><br/>
                        <div class="row ">
                            <div class="col-md-10 ">
                                <b>Instructor details</b>
                            </div>
                        </div>
                        <textarea class="form-control" value="" id="" placeholder="Instructor Biography " ></textarea><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Instructor Linkedln link "/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Instructor Facebook link "/><br/>
                        <input type="text" class="form-control" value="" id=""  placeholder="Instructor Github link "/><br/>
                        <div class="row ">
                            <div class="col-md-7 col-md-offset-5">
                                <a class="btn btn-primary" href="" ng-click="cc.saveNewCourse()">Save</a>
                            </div>
                         </div>

                    </div>
               </div>
        </div>
    </div>
</div>
</font>
<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; 2015 Student Ghar.  
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mousescroll.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/sweet-alert.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/js/controller.js"></script>
    <script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>

    </body>
</html>