<!DOCTYPE html>
<html lang="en" ng-app="studentGhar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Student Ghar</title>
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/sweet-alert.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage" ng-controller='courseController as cc'>


    <header id="top-header" class="navbar-inverse navbar-fixed-top" style="background-image: url(/images/slider/bg1.jpg);">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand ">
                        <a class="smooth-scroll" data-section="#home" href="#home" >
                            <h3 style="color:white;">STUDENT GHAR</h3>
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
                <input type="text" class="form-control " placeholder="Search for Courses"  ng-model='search' style="background-color:white"/> 
                <span class="input-group-addon" ><a href="" ><i class="fa fa-search fa-2x" ng-click="serachCourses()"></a></i></span>
            </div>
      </form>
                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="#home" data-section="#home">Home</a></li>
                            
                            <li class=""><a href="#modal" id="modal_trigger" data-section="">Login | Signup</a></li>   
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
                
            </div>
        </header>


<div class="container">
    

    <div id="modal" class="popupContainer">
        <header class="popupHeader">
            <span class="header_title" >Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>
        
        <section class="popupBody">
            <!-- Social Login -->
            <div class="social_login">
            

                <div class="action_btns">
                    <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                    <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
                </div>
            </div>

            <!-- Username & Password Login form -->
            <div class="user_login">
                <form name="login">
                    <label>Email / Username</label>
                    <input type="text" ng-model="email"/>
                    <br />

                    <label>Password</label>
                    <input type="password" ng-model="password"/>
                    <br />

                    

                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                        <div class="one_half last"><a href="#" class="btn btn_red" ng-click="login()">Login</a></div>
                    </div>
                </form>

                <a href="#" class="forgot_password">Forgot password?</a>
            </div>

            <!-- Register Form -->
            <div class="user_register">
                <form id="singupform">
                    <label>Full Name</label>
                    <input type="text" ng-model="email" />
                    <br />
                    
                    <label>Email Address</label>
                    <input type="email" ng-model="email" />
                    <br />

                    <label>Password</label>
                    <input type="password" ng-model="password"/>
                    <br />

                    

                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                        <div class="one_half last"><a href="#" class="btn btn_red" ng-click="register()">Register</a></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>



            
            <div class="container-fluid" style="background-image: url(/images/slider/bg1.jpg);height:150px;">

                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <br/>
                                    <h1 class="white">Search results for "<%= search %>"</h1>
                                    
                                
                            </div>
                        </div>
                    </div>
                
            
            
        </div><!--/.owl-carousel-->
        
<div class="container-fluid">
    <div class="row">

        <div class="col-md-4 col-md-offet-1 jumbotron">
            
            <b>Price</b><br/>
            <input type="checkbox" class=""/>Paid ()<br/>
            <input type="checkbox" class="">Free ()<br/>
            <b>Levels</b><br/>
            <input type="checkbox" class=""/>All Levels ()<br/>
            <input type="checkbox" class=""/>Beginner ()<br/>
            <input type="checkbox" class=""/>Intermediate ()<br/>
            <input type="checkbox" class=""/>Expert ()<br/>

        </div>
        <div class="col-md-7">
            <div class="row">
                <br/><br/>
                <div class="col-md-2">
                    <img class="img-responsive" src="/images/courses/coffeescript.jpg" alt=""><br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone.jpg" alt=""><br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt=""><br/><br/>
                </div>
                <div class="col-md-10">
                    <a href='' ng-init="x=1" ng-click="particularCourse(x)"><b >CoffeeScript: The Good Parts—Write Better javaScript</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $09. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;6 videos.&nbsp;&nbsp; Beginner Level<br/><br/>
                    <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level<br/><br/>
                    <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level<br/><br/>
                </div>
        </div>
    </div>
</div>
</div>



<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; 2015 Student Ghar.  
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mousescroll.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/sweet-alert.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/js/controller.js"></script>
    <script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>
<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 100, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        // Calling Login Form
        $("#login_form").click(function(){
            $(".social_login").hide();
            $(".user_login").show();
            return false;
        });

        // Calling Register Form
        $("#register_form").click(function(){
            $(".social_login").hide();
            $(".user_register").show();
            $(".header_title").text('Register');
            return false;
        });

        // Going back to Social Forms
        $(".back_btn").click(function(){
            $(".user_login").hide();
            $(".user_register").hide();
            $(".social_login").show();
            $(".header_title").text('Login');
            return false;
        });

    })
</script>
</body>
</html>