<!DOCTYPE html>
<html lang="en" ng-app="studentGhar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Student Ghar</title>
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/sweet-alert.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage" ng-controller='courseController as cc'>


    <header id="top-header" class="navbar-inverse navbar-fixed-top" style="background-image: url(/images/slider/bg1.jpg);">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand ">
                        <a class="smooth-scroll" data-section="#home" href="#home" >
                            <h3 style="color:white;">STUDENT GHAR</h3>
                        </a>
                    </div>
                    <!-- /logo -->
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <!-- <li class="scroll"><a href="#home" data-section="#home">Home</a></li>
                            <li class="scroll"><a href="#about" data-section="#about">About</a></li>
                            <li class="scroll"><a href="#services" data-section="#services">Courses</a></li>
                            
                            <li class="scroll"><a href="#contact-area" data-section="#contact-area">Contact</a></li>
                            <li class=""><a href="#modal" id="modal_trigger" data-section="">Login | Signup</a></li>    -->
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
                
            </div>
        </header>
<font size="2em">
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 height">
            <a href='' ng-click="cc.myCourses()"<i class="fa fa-server"></i> &nbsp;My Courses</a><br/>
            <i class="fa fa-desktop"></i>&nbsp;Development<br/>
            <i class="fa fa-laptop"></i>&nbsp;It Software & Development
        </div>
        <div class="col-md-9 jumbotron ">
            <div class="row">
                    <div class="col-md-2  border1 pad">
                        <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level<br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level<br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level<br/><br/>

                    </div>
                    <div class="col-md-2 col-md-offset-1 border1 pad">
                    
                        <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level<br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level<br/><br/>
                     <img class="img-responsive" src="/images/courses/backbone.jpg" alt="" width="100%">
                        <a href='#' ng-init="y=2" ng-click="particularCourse(y)"><b>Backbone Tutorial: Learn Backbonejs from Scratch</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $19. &nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Beginner Level<br/><br/>
                    </div>
                    <div class="col-md-2 col-md-offset-1 border1 pad">
                    
                        <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level<br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level<br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level<br/>
                    </div>
                    <div class="col-md-2 col-md-offset-1  border1 pad">
                    
                        <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level<br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level<br/><br/>
                    <img class="img-responsive" src="/images/courses/backbone1.jpg" alt="" width="100%">
                        <a href='#' ng-init="z=3" ng-click="particularCourse(z)"><b>Learn to Program in BackboneJs : Code like a Pro</b></a><br/>
                    Santosh Sibyala, Graduate Student at San Jose State University.<br/>
                    $29. &nbsp;&nbsp; <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i> &nbsp;&nbsp;7 videos. &nbsp;&nbsp;Expert Level<br/>
                    </div>
                    
               </div> 
        </div>
    </div>
</div>
</font>
<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; 2015 Student Ghar.  
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mousescroll.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/js/controller.js"></script>
    <script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>

    </body>
</html>